parameters:
    level: 6
    paths:
        - src
        - test
    ignoreErrors:
        - '/Call to an undefined method FFI::.*/'
        - '/Access to an undefined property FFI\\CData::.*/'
        -
            message: '/Binary operation "-" between string&numeric and string results in an error./'
            paths:
                - test/ListObjectsTest.php